automated-n8n-orkflow-versioning-to-github---albin.json
{
  "updatedAt": "2026-04-07T10:43:03.966Z",
  "createdAt": "2026-04-07T09:31:09.211Z",
  "id": "oO0fMXDkxvNT0nDP",
  "name": "Automated N8N orkflow versioning to GitHub - Albin",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## Points for the article\n\nNo  n8n limitation of 1 day hostory, Git will maintain unlimited versions\n\nProper comment based on the change will help to get back to the correct change. (AI used)\n\nPeriodic Backup or Where there is a change in the workflow\n\n\n\n## Backup to SFTp and FTP\n\n## Backup to Drive\n\n## Dif - commit message with AI",
        "height": 624,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        4224
      ],
      "typeVersion": 1,
      "id": "8fb8dd08-e2b7-4954-bc64-ed40c82f271e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "https://github.com/merin-D/n8n_backup",
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        3952
      ],
      "typeVersion": 1,
      "id": "a090276a-82f4-4e78-aa27-befefc27eef2",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items",
        "options": {}
      },
      "id": "e1fa4d92-6899-4da7-9e63-fce9d4b8bac4",
      "name": "Wait for all1",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        3040,
        4288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "b3b757f5-154e-4dc9-b1b3-afaa6db84f01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        832,
        4288
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "dce258de-f3c7-4d90-96c3-75e5f152a423",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1456,
        4288
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "m2d0HT9UuFtzGfuP",
          "name": "n8n account 3"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "dca8f43f-52d2-4b50-99f8-3baed5bceea9",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1216,
        4288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "="
      },
      "id": "4c5ccf5d-62b3-4794-9f38-55ea51851dd3",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        1056,
        4288
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "6c5a413f-1a30-4ca9-8174-46e02f3ecf22",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
        "fileContent": "={{ $('To base1').item.json.data }}",
        "commitMessage": "=Sync-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "9ede7f38-c11f-4124-8a38-6b6d13814f3a",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        2800,
        4208
      ],
      "typeVersion": 1,
      "webhookId": "b877ef15-f96f-457b-8cac-5107a6b0f40f",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
        "fileContent": "={{ $('To base1').item.json.data }}",
        "commitMessage": "=Sync-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "57ed2d28-3d33-4ee1-afb0-eb3fb268fdbf",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        2800,
        4368
      ],
      "typeVersion": 1,
      "webhookId": "207cadf0-dfdd-41d3-be32-806b7dfac41c",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
            }
          ]
        }
      },
      "id": "05ba61f5-4c36-4374-9c59-e692329e9bd0",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        2640,
        4288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "92b0aeeb-10ab-424a-a627-a36828b0671a",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1824,
        4288
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "1141d2cc-7d13-4064-9231-fb12f2bcd73d",
      "name": "To base1",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        2064,
        4288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "e9f1d444-8974-4d02-a55f-7afb3c239ef8",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        2480,
        4288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: item.json,\n  pairedItem: item.pairedItem\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        4288
      ],
      "id": "3b7822ba-e6db-4196-8594-74eb05b5ad7c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Runs exactly ONCE after all workflows processed\nconst githubFiles = $('List files from repo').all().map(i => i.json.name).filter(Boolean);\n\n// Build filename using ONLY the workflow name - no tag\nconst n8nWorkflows = $('Retrieve workflows').all().map(i => {\n  return i.json.name.replace(/\\s+/g, '-').toLowerCase() + '.json';\n});\n\nif (n8nWorkflows.length === 0) {\n  throw new Error('Safety abort: n8n returned 0 workflows. Refusing to delete.');\n}\n\nif (githubFiles.length === 0) {\n  return [{ json: { skipped: true, reason: 'No GitHub files found' } }];\n}\n\nconsole.log('GitHub files:', githubFiles);\nconsole.log('n8n workflow filenames:', n8nWorkflows);\n\nconst filesToDelete = githubFiles.filter(f => !n8nWorkflows.includes(f));\n\nif (filesToDelete.length === 0) {\n  return [{ json: { skipped: true, reason: 'Nothing to delete' } }];\n}\n\nreturn filesToDelete.map(f => ({ json: { path: f, skipped: false } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        4288
      ],
      "id": "90c1d4e0-64ca-4cc6-9bfa-9da774f7efc1",
      "name": "Find files to delete1"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skipped }}"
            }
          ]
        }
      },
      "id": "2314f000-ab8e-48f9-9aad-d7b18090e469",
      "name": "Has files to delete?1",
      "type": "n8n-nodes-base.if",
      "position": [
        3520,
        4288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "={{ $json.path }}",
        "commitMessage": "Auto delete removed workflow: {{ $json.path }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        3760,
        4272
      ],
      "id": "788b0933-a479-416e-9466-de26658d0990",
      "name": "Delete a file1",
      "webhookId": "4c9b3fa2-1af8-4243-85eb-83aa9d7b4ffe",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 348,
        "color": 5
      },
      "id": "e1b60663-b14c-4cf6-8a14-e8f2b98e9cbd",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        4144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 1032,
        "color": 3
      },
      "id": "6cf41c20-e6ad-4a77-8bc7-5b76544e0554",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        4144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "4b2960c6-f2e4-4370-8b1e-252d0a5ae29f",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2448,
        4144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Safe Delete Branch\n\n✅ Aggregate waits for ALL items to finish\n✅ Find files runs exactly ONCE\n✅ Safety abort if n8n returns 0 workflows\n✅ No tag in filename - name only",
        "height": 200,
        "width": 600,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3008,
        4144
      ],
      "typeVersion": 1,
      "id": "3350db4f-633b-4c80-b337-6be50e34a28e",
      "name": "Sticky Note19"
    }
  ],
  "connections": {
    "Wait for all1": {
      "main": [
        [
          {
            "node": "Find files to delete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file": {
      "main": [
        [
          {
            "node": "Wait for all1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Wait for all1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base1": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find files to delete1": {
      "main": [
        [
          {
            "node": "Has files to delete?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has files to delete?1": {
      "main": [
        [
          {
            "node": "Delete a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3c4bb018-4194-4abe-a127-3bef7c9ef3d0",
  "activeVersionId": "d43e064c-2dfd-4ef1-8d9c-e8eae4ed74e5",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-07T09:31:09.216Z",
      "createdAt": "2026-04-07T09:31:09.216Z",
      "role": "workflow:owner",
      "workflowId": "oO0fMXDkxvNT0nDP",
      "projectId": "6A4ZRN1cCrGEOl69"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-07T10:25:51.000Z",
    "createdAt": "2026-04-07T10:25:46.353Z",
    "versionId": "d43e064c-2dfd-4ef1-8d9c-e8eae4ed74e5",
    "workflowId": "oO0fMXDkxvNT0nDP",
    "nodes": [
      {
        "parameters": {
          "content": "## Points for the article\n\nNo  n8n limitation of 1 day hostory, Git will maintain unlimited versions\n\nProper comment based on the change will help to get back to the correct change. (AI used)\n\nPeriodic Backup or Where there is a change in the workflow\n\n\n\n## Backup to SFTp and FTP\n\n## Backup to Drive\n\n## Dif - commit message with AI",
          "height": 624,
          "width": 464
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1456,
          2080
        ],
        "typeVersion": 1,
        "id": "22fd9146-4cdd-4e69-a9b8-10cedb347667",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "id": "a322e29d-83ef-48f8-8996-df6a5cc92a1e",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          -896,
          2256
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "df964845-6275-463f-a145-f98409bbdc47",
        "name": "Retrieve workflows",
        "type": "n8n-nodes-base.n8n",
        "position": [
          -272,
          2256
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "m2d0HT9UuFtzGfuP",
            "name": "n8n account 3"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "name"
              }
            ]
          },
          "options": {}
        },
        "id": "e5ea451f-b586-478e-ac85-02406c1826c2",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          -512,
          2256
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "merin-D",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_backup",
            "mode": "list",
            "cachedResultName": "n8n_backup",
            "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
          },
          "filePath": "="
        },
        "id": "75b12b27-547f-430f-99e1-8b16aa15bcc5",
        "name": "List files from repo",
        "type": "n8n-nodes-base.github",
        "position": [
          -672,
          2256
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "webhookId": "6c5a413f-1a30-4ca9-8174-46e02f3ecf22",
        "credentials": {
          "githubApi": {
            "id": "Uq5YyACHjNGYTcJj",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "merin-D",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_backup",
            "mode": "list",
            "cachedResultName": "n8n_backup",
            "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
          },
          "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
          "fileContent": "={{ $('To base1').item.json.data }}",
          "commitMessage": "=Sync-{{ $('Commit date & file name').item.json.commitDate }}"
        },
        "id": "ad2f577a-2b8f-495f-98ee-508eeea7104d",
        "name": "Update file",
        "type": "n8n-nodes-base.github",
        "position": [
          1072,
          2176
        ],
        "typeVersion": 1,
        "webhookId": "b877ef15-f96f-457b-8cac-5107a6b0f40f",
        "credentials": {
          "githubApi": {
            "id": "Uq5YyACHjNGYTcJj",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "merin-D",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_backup",
            "mode": "list",
            "cachedResultName": "n8n_backup",
            "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
          },
          "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
          "fileContent": "={{ $('To base1').item.json.data }}",
          "commitMessage": "=Sync-{{ $node['Commit date & file name'].json.commitDate }}"
        },
        "id": "b836f38d-2379-4aae-b348-8e91365a3667",
        "name": "Upload file",
        "type": "n8n-nodes-base.github",
        "position": [
          1072,
          2336
        ],
        "typeVersion": 1,
        "webhookId": "207cadf0-dfdd-41d3-be32-806b7dfac41c",
        "credentials": {
          "githubApi": {
            "id": "Uq5YyACHjNGYTcJj",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $('Aggregate').item.json.name }}",
                "operation": "contains",
                "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
              }
            ]
          }
        },
        "id": "b175ecc1-86f6-4f7c-8f30-87ff5f56549c",
        "name": "Check if file exists",
        "type": "n8n-nodes-base.if",
        "position": [
          912,
          2256
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true
          }
        },
        "id": "40e7aad4-33c9-40dc-b028-87c097301aed",
        "name": "Json file",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          96,
          2256
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "id": "e0f2ad20-4c62-4239-af1a-84bc50d9a7db",
        "name": "To base1",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          336,
          2256
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
                "name": "commitDate",
                "type": "string",
                "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
              },
              {
                "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                "name": "fileName",
                "type": "string",
                "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
              }
            ]
          },
          "options": {}
        },
        "id": "59df0506-530b-4ca2-b3eb-238fd2c8f984",
        "name": "Commit date & file name",
        "type": "n8n-nodes-base.set",
        "position": [
          752,
          2256
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "jsCode": "return $input.all().map(item => ({\n  json: item.json,\n  pairedItem: item.pairedItem\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -64,
          2256
        ],
        "id": "5c708621-bcbf-43b7-b0ca-03b5c26b235c",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "jsCode": "// Get GitHub file names - these are the raw filenames in the repo\nconst githubFiles = $('List files from repo').all().map(i => i.json.name).filter(Boolean);\n\n// Get n8n workflow names - build the same filename format used when uploading\nconst n8nWorkflows = $('Retrieve workflows').all().map(i => {\n  const name = i.json.name.replace(/\\s+/g, '-').toLowerCase();\n  const tag = (i.json.tags && i.json.tags[0]) ? i.json.tags[0].name : '';\n  return tag ? `${name}-${tag}.json` : `${name}.json`;\n});\n\n// Safety abort\nif (n8nWorkflows.length === 0) {\n  throw new Error('Safety abort: n8n returned 0 workflows. Refusing to delete.');\n}\n\nif (githubFiles.length === 0) {\n  return [{ json: { skipped: true, reason: 'No GitHub files found' } }];\n}\n\nconst filesToDelete = githubFiles.filter(f => !n8nWorkflows.includes(f));\n\nif (filesToDelete.length === 0) {\n  return [{ json: { skipped: true, reason: 'Nothing to delete' } }];\n}\n\nreturn filesToDelete.map(f => ({ json: { path: f, skipped: false } }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1392,
          2256
        ],
        "id": "ec40b2c4-284d-4c14-87aa-1855404042b3",
        "name": "Find files to delete1"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.skipped }}"
              }
            ]
          }
        },
        "id": "c4a10133-f988-4da4-a3b6-88b0f11b268f",
        "name": "Has files to delete?1",
        "type": "n8n-nodes-base.if",
        "position": [
          1632,
          2256
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": {
            "__rl": true,
            "value": "merin-D",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_backup",
            "mode": "list",
            "cachedResultName": "n8n_backup",
            "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
          },
          "filePath": "={{ $json.path }}",
          "commitMessage": "Auto delete removed workflow: {{ $json.path }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1872,
          2240
        ],
        "id": "8a3cb3b1-5419-4e47-861f-976294717eec",
        "name": "Delete a file1",
        "webhookId": "4c9b3fa2-1af8-4243-85eb-83aa9d7b4ffe",
        "credentials": {
          "githubApi": {
            "id": "Uq5YyACHjNGYTcJj",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "content": "### Retrieve previous file names from Github",
          "height": 380,
          "width": 348,
          "color": 5
        },
        "id": "b972f3a0-4fe5-4198-8bea-082682a6143a",
        "name": "Sticky Note6",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -720,
          2112
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Retrieve and process workflows from n8n",
          "height": 380,
          "width": 1032,
          "color": 3
        },
        "id": "b35cd07d-1424-4afb-920c-d3b6735de6f8",
        "name": "Sticky Note8",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -352,
          2112
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Commit + edit/create files if needed",
          "height": 380,
          "width": 460,
          "color": 4
        },
        "id": "55e6b37a-e5e0-4433-985e-ab24189de3fb",
        "name": "Sticky Note12",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          720,
          2112
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Safe Delete Branch\n\n✅ Only deletes if n8n returned >0 workflows\n✅ Aborts if either list is empty\n✅ Skips if nothing to delete\n✅ Runs AFTER all uploads complete",
          "height": 200,
          "width": 560,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1360,
          2112
        ],
        "typeVersion": 1,
        "id": "210fcf2d-ed34-40a4-8f06-65285688f2b8",
        "name": "Sticky Note13"
      },
      {
        "parameters": {
          "content": "https://github.com/merin-D/n8n_backup",
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -304,
          1904
        ],
        "typeVersion": 1,
        "id": "ae076743-d3f3-4aac-81c4-8e3fd3f0a78f",
        "name": "Sticky Note14"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "List files from repo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve workflows": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Retrieve workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files from repo": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update file": {
        "main": [
          [
            {
              "node": "Find files to delete1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload file": {
        "main": [
          [
            {
              "node": "Find files to delete1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if file exists": {
        "main": [
          [
            {
              "node": "Update file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Json file": {
        "main": [
          [
            {
              "node": "To base1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To base1": {
        "main": [
          [
            {
              "node": "Commit date & file name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit date & file name": {
        "main": [
          [
            {
              "node": "Check if file exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Json file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find files to delete1": {
        "main": [
          [
            {
              "node": "Has files to delete?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has files to delete?1": {
        "main": [
          [],
          [
            {
              "node": "Delete a file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "merin dzousamerin@gmail.com",
    "name": "Version d43e064c",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-03-26T11:11:42.300Z",
      "createdAt": "2026-03-26T11:11:42.300Z",
      "id": "MafV0QzOGcn2AUtk",
      "name": "Ucartz"
    }
  ]
}