automated-n8n-orkflow-versioning-to-github---albin.json
{
  "updatedAt": "2026-04-07T10:55:05.566Z",
  "createdAt": "2026-04-07T09:31:09.211Z",
  "id": "oO0fMXDkxvNT0nDP",
  "name": "Automated N8N orkflow versioning to GitHub - Albin",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "passThrough",
        "options": {}
      },
      "id": "1b2cf03e-5ef5-47f6-9a11-3abc4a14363d",
      "name": "Merge branches",
      "type": "n8n-nodes-base.merge",
      "position": [
        3568,
        5824
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## Points for the article\n\nNo  n8n limitation of 1 day hostory, Git will maintain unlimited versions\n\nProper comment based on the change will help to get back to the correct change. (AI used)\n\nPeriodic Backup or Where there is a change in the workflow\n\n\n\n## Backup to SFTp and FTP\n\n## Backup to Drive\n\n## Dif - commit message with AI",
        "height": 624,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        864,
        5760
      ],
      "typeVersion": 1,
      "id": "8702ac8a-83dc-413f-b938-946875ed02a3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "https://github.com/merin-D/n8n_backup",
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        5488
      ],
      "typeVersion": 1,
      "id": "d6a44168-756d-4098-b161-448da6f2cd0e",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "items",
        "options": {}
      },
      "id": "30e983e1-9829-40bb-ba4b-606ab5e10175",
      "name": "Wait for all",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        3776,
        5824
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "fae26ecb-5c7f-4ff9-aa32-30c3b0e184c5",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1440,
        5824
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "9dcbae79-eb5f-4e5b-9416-e93d53074f22",
      "name": "Retrieve workflows1",
      "type": "n8n-nodes-base.n8n",
      "position": [
        2064,
        5824
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "m2d0HT9UuFtzGfuP",
          "name": "n8n account 3"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "ef1f7219-ca03-41e3-b93f-ea00daef34f1",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1824,
        5824
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "="
      },
      "id": "c5631669-1eab-491e-9359-8321c23c9f2d",
      "name": "List files from repo1",
      "type": "n8n-nodes-base.github",
      "position": [
        1664,
        5824
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "6c5a413f-1a30-4ca9-8174-46e02f3ecf22",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "={{ $('Retrieve workflows1').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
        "fileContent": "={{ $('To base').item.json.data }}",
        "commitMessage": "=Sync-{{ $('Commit date & file name1').item.json.commitDate }}"
      },
      "id": "20a23d32-14f4-41dc-a78b-23c43e702730",
      "name": "Update file1",
      "type": "n8n-nodes-base.github",
      "position": [
        3408,
        5744
      ],
      "typeVersion": 1,
      "webhookId": "b877ef15-f96f-457b-8cac-5107a6b0f40f",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "={{ $('Retrieve workflows1').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
        "fileContent": "={{ $('To base').item.json.data }}",
        "commitMessage": "=Sync-{{ $node['Commit date & file name1'].json.commitDate }}"
      },
      "id": "136cd2a0-10c8-44f1-b17f-5a742d715894",
      "name": "Upload file1",
      "type": "n8n-nodes-base.github",
      "position": [
        3408,
        5904
      ],
      "typeVersion": 1,
      "webhookId": "207cadf0-dfdd-41d3-be32-806b7dfac41c",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate1').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows1').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
            }
          ]
        }
      },
      "id": "d8796c09-1c63-4dbe-8cda-9946cc7891d7",
      "name": "Check if file exists1",
      "type": "n8n-nodes-base.if",
      "position": [
        3248,
        5824
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "2de42442-e109-433a-a53c-cd8461fb7b91",
      "name": "Json file1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        2432,
        5824
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "3d576322-8b45-4abb-9621-036d1b6809fb",
      "name": "To base",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        2672,
        5824
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows1').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "25f48023-fc15-417a-b95b-a10ffcefcb6b",
      "name": "Commit date & file name1",
      "type": "n8n-nodes-base.set",
      "position": [
        3088,
        5824
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: item.json,\n  pairedItem: item.pairedItem\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        5824
      ],
      "id": "f5574460-5d61-4272-af6a-b44324f18b06",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Runs exactly ONCE after all workflows processed\nconst githubFiles = $('List files from repo1').all().map(i => i.json.name).filter(Boolean);\n\n// Build filename using ONLY the workflow name - no tag\nconst n8nWorkflows = $('Retrieve workflows1').all().map(i => {\n  return i.json.name.replace(/\\s+/g, '-').toLowerCase() + '.json';\n});\n\nif (n8nWorkflows.length === 0) {\n  throw new Error('Safety abort: n8n returned 0 workflows. Refusing to delete.');\n}\n\nif (githubFiles.length === 0) {\n  return [{ json: { skipped: true, reason: 'No GitHub files found' } }];\n}\n\nconsole.log('GitHub files:', githubFiles);\nconsole.log('n8n workflow filenames:', n8nWorkflows);\n\nconst filesToDelete = githubFiles.filter(f => !n8nWorkflows.includes(f));\n\nif (filesToDelete.length === 0) {\n  return [{ json: { skipped: true, reason: 'Nothing to delete' } }];\n}\n\nreturn filesToDelete.map(f => ({ json: { path: f, skipped: false } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        5824
      ],
      "id": "f7cabe58-0849-40bd-9286-ce115beaffd8",
      "name": "Find files to delete"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skipped }}"
            }
          ]
        }
      },
      "id": "997851c8-36ae-4a75-9eac-35d728421621",
      "name": "Has files to delete?",
      "type": "n8n-nodes-base.if",
      "position": [
        4208,
        5824
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "={{ $json.path }}",
        "commitMessage": "Auto delete removed workflow: {{ $json.path }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        4448,
        5808
      ],
      "id": "683c9667-d57e-4f3a-b7f0-6c9c8614b229",
      "name": "Delete a file",
      "webhookId": "4c9b3fa2-1af8-4243-85eb-83aa9d7b4ffe",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 348,
        "color": 5
      },
      "id": "47e54cc2-8f5c-43c5-8681-43d7cc638067",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        5680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 1032,
        "color": 3
      },
      "id": "859e7b3f-56ae-498c-837b-ce19a76fabb1",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        5680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "9364b2db-23e4-4535-9b2c-3d6f18be339d",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3056,
        5680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Safe Delete Branch\n\n✅ Merge combines both branches into one stream\n✅ Aggregate waits for ALL items to finish\n✅ Find files runs exactly ONCE\n✅ Safety abort if n8n returns 0 workflows",
        "height": 200,
        "width": 600,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3536,
        5680
      ],
      "typeVersion": 1,
      "id": "79c12e48-839f-45ce-a071-8fc727ed6dcf",
      "name": "Sticky Note22"
    }
  ],
  "connections": {
    "Merge branches": {
      "main": [
        [
          {
            "node": "Wait for all",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for all": {
      "main": [
        [
          {
            "node": "Find files to delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "List files from repo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Retrieve workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file1": {
      "main": [
        [
          {
            "node": "Merge branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Merge branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check if file exists1": {
      "main": [
        [
          {
            "node": "Update file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file1": {
      "main": [
        [
          {
            "node": "To base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base": {
      "main": [
        [
          {
            "node": "Commit date & file name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name1": {
      "main": [
        [
          {
            "node": "Check if file exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Json file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find files to delete": {
      "main": [
        [
          {
            "node": "Has files to delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has files to delete?": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d8e4d4e8-a97d-4671-9bad-f19cf9e2ceef",
  "activeVersionId": "d43e064c-2dfd-4ef1-8d9c-e8eae4ed74e5",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-07T09:31:09.216Z",
      "createdAt": "2026-04-07T09:31:09.216Z",
      "role": "workflow:owner",
      "workflowId": "oO0fMXDkxvNT0nDP",
      "projectId": "6A4ZRN1cCrGEOl69"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-07T10:25:51.000Z",
    "createdAt": "2026-04-07T10:25:46.353Z",
    "versionId": "d43e064c-2dfd-4ef1-8d9c-e8eae4ed74e5",
    "workflowId": "oO0fMXDkxvNT0nDP",
    "nodes": [
      {
        "parameters": {
          "content": "## Points for the article\n\nNo  n8n limitation of 1 day hostory, Git will maintain unlimited versions\n\nProper comment based on the change will help to get back to the correct change. (AI used)\n\nPeriodic Backup or Where there is a change in the workflow\n\n\n\n## Backup to SFTp and FTP\n\n## Backup to Drive\n\n## Dif - commit message with AI",
          "height": 624,
          "width": 464
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1456,
          2080
        ],
        "typeVersion": 1,
        "id": "22fd9146-4cdd-4e69-a9b8-10cedb347667",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "id": "a322e29d-83ef-48f8-8996-df6a5cc92a1e",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          -896,
          2256
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "df964845-6275-463f-a145-f98409bbdc47",
        "name": "Retrieve workflows",
        "type": "n8n-nodes-base.n8n",
        "position": [
          -272,
          2256
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "m2d0HT9UuFtzGfuP",
            "name": "n8n account 3"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "name"
              }
            ]
          },
          "options": {}
        },
        "id": "e5ea451f-b586-478e-ac85-02406c1826c2",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          -512,
          2256
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "merin-D",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_backup",
            "mode": "list",
            "cachedResultName": "n8n_backup",
            "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
          },
          "filePath": "="
        },
        "id": "75b12b27-547f-430f-99e1-8b16aa15bcc5",
        "name": "List files from repo",
        "type": "n8n-nodes-base.github",
        "position": [
          -672,
          2256
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "webhookId": "6c5a413f-1a30-4ca9-8174-46e02f3ecf22",
        "credentials": {
          "githubApi": {
            "id": "Uq5YyACHjNGYTcJj",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "merin-D",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_backup",
            "mode": "list",
            "cachedResultName": "n8n_backup",
            "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
          },
          "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
          "fileContent": "={{ $('To base1').item.json.data }}",
          "commitMessage": "=Sync-{{ $('Commit date & file name').item.json.commitDate }}"
        },
        "id": "ad2f577a-2b8f-495f-98ee-508eeea7104d",
        "name": "Update file",
        "type": "n8n-nodes-base.github",
        "position": [
          1072,
          2176
        ],
        "typeVersion": 1,
        "webhookId": "b877ef15-f96f-457b-8cac-5107a6b0f40f",
        "credentials": {
          "githubApi": {
            "id": "Uq5YyACHjNGYTcJj",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "merin-D",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_backup",
            "mode": "list",
            "cachedResultName": "n8n_backup",
            "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
          },
          "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
          "fileContent": "={{ $('To base1').item.json.data }}",
          "commitMessage": "=Sync-{{ $node['Commit date & file name'].json.commitDate }}"
        },
        "id": "b836f38d-2379-4aae-b348-8e91365a3667",
        "name": "Upload file",
        "type": "n8n-nodes-base.github",
        "position": [
          1072,
          2336
        ],
        "typeVersion": 1,
        "webhookId": "207cadf0-dfdd-41d3-be32-806b7dfac41c",
        "credentials": {
          "githubApi": {
            "id": "Uq5YyACHjNGYTcJj",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $('Aggregate').item.json.name }}",
                "operation": "contains",
                "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
              }
            ]
          }
        },
        "id": "b175ecc1-86f6-4f7c-8f30-87ff5f56549c",
        "name": "Check if file exists",
        "type": "n8n-nodes-base.if",
        "position": [
          912,
          2256
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true
          }
        },
        "id": "40e7aad4-33c9-40dc-b028-87c097301aed",
        "name": "Json file",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          96,
          2256
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "id": "e0f2ad20-4c62-4239-af1a-84bc50d9a7db",
        "name": "To base1",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          336,
          2256
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
                "name": "commitDate",
                "type": "string",
                "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
              },
              {
                "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                "name": "fileName",
                "type": "string",
                "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
              }
            ]
          },
          "options": {}
        },
        "id": "59df0506-530b-4ca2-b3eb-238fd2c8f984",
        "name": "Commit date & file name",
        "type": "n8n-nodes-base.set",
        "position": [
          752,
          2256
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "jsCode": "return $input.all().map(item => ({\n  json: item.json,\n  pairedItem: item.pairedItem\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -64,
          2256
        ],
        "id": "5c708621-bcbf-43b7-b0ca-03b5c26b235c",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "jsCode": "// Get GitHub file names - these are the raw filenames in the repo\nconst githubFiles = $('List files from repo').all().map(i => i.json.name).filter(Boolean);\n\n// Get n8n workflow names - build the same filename format used when uploading\nconst n8nWorkflows = $('Retrieve workflows').all().map(i => {\n  const name = i.json.name.replace(/\\s+/g, '-').toLowerCase();\n  const tag = (i.json.tags && i.json.tags[0]) ? i.json.tags[0].name : '';\n  return tag ? `${name}-${tag}.json` : `${name}.json`;\n});\n\n// Safety abort\nif (n8nWorkflows.length === 0) {\n  throw new Error('Safety abort: n8n returned 0 workflows. Refusing to delete.');\n}\n\nif (githubFiles.length === 0) {\n  return [{ json: { skipped: true, reason: 'No GitHub files found' } }];\n}\n\nconst filesToDelete = githubFiles.filter(f => !n8nWorkflows.includes(f));\n\nif (filesToDelete.length === 0) {\n  return [{ json: { skipped: true, reason: 'Nothing to delete' } }];\n}\n\nreturn filesToDelete.map(f => ({ json: { path: f, skipped: false } }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1392,
          2256
        ],
        "id": "ec40b2c4-284d-4c14-87aa-1855404042b3",
        "name": "Find files to delete1"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.skipped }}"
              }
            ]
          }
        },
        "id": "c4a10133-f988-4da4-a3b6-88b0f11b268f",
        "name": "Has files to delete?1",
        "type": "n8n-nodes-base.if",
        "position": [
          1632,
          2256
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": {
            "__rl": true,
            "value": "merin-D",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_backup",
            "mode": "list",
            "cachedResultName": "n8n_backup",
            "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
          },
          "filePath": "={{ $json.path }}",
          "commitMessage": "Auto delete removed workflow: {{ $json.path }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1872,
          2240
        ],
        "id": "8a3cb3b1-5419-4e47-861f-976294717eec",
        "name": "Delete a file1",
        "webhookId": "4c9b3fa2-1af8-4243-85eb-83aa9d7b4ffe",
        "credentials": {
          "githubApi": {
            "id": "Uq5YyACHjNGYTcJj",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "content": "### Retrieve previous file names from Github",
          "height": 380,
          "width": 348,
          "color": 5
        },
        "id": "b972f3a0-4fe5-4198-8bea-082682a6143a",
        "name": "Sticky Note6",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -720,
          2112
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Retrieve and process workflows from n8n",
          "height": 380,
          "width": 1032,
          "color": 3
        },
        "id": "b35cd07d-1424-4afb-920c-d3b6735de6f8",
        "name": "Sticky Note8",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -352,
          2112
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Commit + edit/create files if needed",
          "height": 380,
          "width": 460,
          "color": 4
        },
        "id": "55e6b37a-e5e0-4433-985e-ab24189de3fb",
        "name": "Sticky Note12",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          720,
          2112
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Safe Delete Branch\n\n✅ Only deletes if n8n returned >0 workflows\n✅ Aborts if either list is empty\n✅ Skips if nothing to delete\n✅ Runs AFTER all uploads complete",
          "height": 200,
          "width": 560,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1360,
          2112
        ],
        "typeVersion": 1,
        "id": "210fcf2d-ed34-40a4-8f06-65285688f2b8",
        "name": "Sticky Note13"
      },
      {
        "parameters": {
          "content": "https://github.com/merin-D/n8n_backup",
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -304,
          1904
        ],
        "typeVersion": 1,
        "id": "ae076743-d3f3-4aac-81c4-8e3fd3f0a78f",
        "name": "Sticky Note14"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "List files from repo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve workflows": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Retrieve workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files from repo": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update file": {
        "main": [
          [
            {
              "node": "Find files to delete1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload file": {
        "main": [
          [
            {
              "node": "Find files to delete1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if file exists": {
        "main": [
          [
            {
              "node": "Update file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Json file": {
        "main": [
          [
            {
              "node": "To base1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To base1": {
        "main": [
          [
            {
              "node": "Commit date & file name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit date & file name": {
        "main": [
          [
            {
              "node": "Check if file exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Json file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find files to delete1": {
        "main": [
          [
            {
              "node": "Has files to delete?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has files to delete?1": {
        "main": [
          [],
          [
            {
              "node": "Delete a file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "merin dzousamerin@gmail.com",
    "name": "Version d43e064c",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-03-26T11:11:42.300Z",
      "createdAt": "2026-03-26T11:11:42.300Z",
      "id": "MafV0QzOGcn2AUtk",
      "name": "Ucartz"
    }
  ]
}