automated-n8n-orkflow-versioning-to-github---albin-Ucartz.json
{
  "updatedAt": "2026-04-07T10:07:18.753Z",
  "createdAt": "2026-04-07T09:31:09.211Z",
  "id": "oO0fMXDkxvNT0nDP",
  "name": "Automated N8N orkflow versioning to GitHub - Albin",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "12fa8554-9477-4468-9e34-f5adbff06b23",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        0,
        16
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "m2d0HT9UuFtzGfuP",
          "name": "n8n account 3"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "1a03f729-84a4-4683-8603-cc86fa4476e0",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -240,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "="
      },
      "id": "81605ea0-bd1e-41bf-be8c-83cdb6fb0bb2",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -400,
        16
      ],
      "webhookId": "29579f80-d12d-463e-aa2b-4013b11cd064",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=Sync-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "49d5c74e-e54d-4c5f-a485-2f254dbd27f6",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1344,
        -64
      ],
      "webhookId": "27615548-5dd2-4eba-8d86-f548dc53a1fc",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=Sync-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "2399ead3-1283-4c57-9768-f2d03e2384c0",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1344,
        96
      ],
      "webhookId": "a1fb1aa4-c3a8-4d53-9398-5718cc2a28dc",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "7680671b-63af-4f23-b76a-dfe65ce64fa0",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1184,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "ed73ca00-cc2a-49d6-b240-32b5c2e8bebb",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        368,
        16
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "e902f5df-619b-414a-be1d-33ba63107617",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        608,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 348,
        "color": 5
      },
      "id": "0b02a0d2-607b-40ba-92ba-bed33ec4ca17",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "e8e3fe47-550b-4f66-9dd5-a3daac4cf3cf",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        1024,
        16
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 1032,
        "color": 3
      },
      "id": "1f919bc1-f433-4617-b920-571686b2dc66",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "5e30c0e7-ef38-43a5-816f-2d02ff207e6c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Dif - commit message with AI",
        "height": 176,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1312,
        464
      ],
      "typeVersion": 1,
      "id": "c6e942ac-bb38-4031-ba33-08212f239508",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Points for the article\n\nNo  n8n limitation of 1 day hostory, Git will maintain unlimited versions\n\nProper comment based on the change will help to get back to the correct change. (AI used)\n\nPeriodic Backup or Where there is a change in the workflow\n\n\n\n## Backup to SFTp and FTP\n\n## Backup to Drive\n",
        "height": 624,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1328,
        704
      ],
      "typeVersion": 1,
      "id": "3a043945-5af3-4cc9-b2fd-0c6d89c1e3de",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "=",
        "commitMessage": "="
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1344,
        -256
      ],
      "id": "01c32b52-5dea-451c-8f90-735403b6cf7a",
      "name": "Delete a file1",
      "webhookId": "8aded0b9-dd1e-4c35-a269-46ff104c7f77",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: item.json,\n  pairedItem: item.pairedItem\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        16
      ],
      "id": "5eaf851d-73f0-4e56-8aa7-2ced01c03960",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "dca77bca-f97b-4f14-adf3-06e0ffbf9d4a",
      "name": "Safety Check",
      "type": "n8n-nodes-base.if",
      "position": [
        48,
        1344
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Get GitHub file names from List files from repo\nconst githubFiles = $('List files from repo').all().map(i => i.json.name).filter(Boolean);\n\n// Get n8n workflow names directly from Retrieve workflows node\nconst n8nWorkflows = $('Retrieve workflows').all().map(i => i.json.name + '.json');\n\n// Safety abort if either list is empty\nif (githubFiles.length === 0) {\n  throw new Error('Safety abort: GitHub file list is empty.');\n}\nif (n8nWorkflows.length === 0) {\n  throw new Error('Safety abort: n8n workflow list is empty. Refusing to delete anything.');\n}\n\n// Only delete files that don't exist in n8n anymore\nconst filesToDelete = githubFiles.filter(f => !n8nWorkflows.includes(f));\n\nif (filesToDelete.length === 0) {\n  return [{ json: { skipped: true, reason: 'Nothing to delete' } }];\n}\n\nreturn filesToDelete.map(f => ({ json: { path: f, skipped: false } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        1344
      ],
      "id": "bb6610e8-c76c-40f5-af77-75a263c39ffd",
      "name": "Find files to delete"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skipped }}"
            }
          ]
        }
      },
      "id": "be7aac2c-f417-4931-8b30-42eacb1dbf4c",
      "name": "Has files to delete?",
      "type": "n8n-nodes-base.if",
      "position": [
        528,
        1344
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "={{ $json.path }}",
        "commitMessage": "Auto delete removed workflow: {{ $json.path }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        768,
        1328
      ],
      "id": "0ed0d83f-ff68-4e6f-baa4-caebf401dda1",
      "name": "Delete a file",
      "webhookId": "4c9b3fa2-1af8-4243-85eb-83aa9d7b4ffe",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "### Safe Delete Branch\n\n✅ Only deletes if n8n returned >0 workflows\n✅ Aborts if either list is empty\n✅ Skips if nothing to delete",
        "height": 200,
        "width": 780,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        1216
      ],
      "typeVersion": 1,
      "id": "715ed32b-aad4-4711-9397-c26f77a07322",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "3b5a16fd-ae29-4a4a-9bf2-572d4806cf00",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -768,
        880
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "1cc93a75-78ed-4a67-bf28-1a0bae88c4c8",
      "name": "Retrieve workflows1",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -144,
        880
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "m2d0HT9UuFtzGfuP",
          "name": "n8n account 3"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "05c30b02-d2aa-4e07-984f-33cc3b9d6e17",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -384,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "="
      },
      "id": "e69a2eec-49af-4562-8ae3-8a9104bdd225",
      "name": "List files from repo1",
      "type": "n8n-nodes-base.github",
      "position": [
        -544,
        880
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "6c5a413f-1a30-4ca9-8174-46e02f3ecf22",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "={{ $('Retrieve workflows1').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows1').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base').item.json.data }}",
        "commitMessage": "=Sync-{{ $('Commit date & file name1').item.json.commitDate }}"
      },
      "id": "db110462-d602-4036-af7a-a9cf6d7c35af",
      "name": "Update file1",
      "type": "n8n-nodes-base.github",
      "position": [
        1200,
        800
      ],
      "typeVersion": 1,
      "webhookId": "b877ef15-f96f-457b-8cac-5107a6b0f40f",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "={{ $('Retrieve workflows1').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows1').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base').item.json.data }}",
        "commitMessage": "=Sync-{{ $node['Commit date & file name1'].json.commitDate }}"
      },
      "id": "51841064-a7ff-4945-a52f-cba1cccff69a",
      "name": "Upload file1",
      "type": "n8n-nodes-base.github",
      "position": [
        1200,
        960
      ],
      "typeVersion": 1,
      "webhookId": "207cadf0-dfdd-41d3-be32-806b7dfac41c",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate1').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows1').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows1').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "4a94e6ec-3e48-4bca-948c-5ebf80888433",
      "name": "Check if file exists1",
      "type": "n8n-nodes-base.if",
      "position": [
        1040,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "266be3bd-a377-44fa-a021-431640a519e7",
      "name": "Json file1",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        224,
        880
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "f89d6a01-1b66-4010-bdd9-09d2c3de9b06",
      "name": "To base",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        464,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows1').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows1').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "9c7ab03c-695c-4b5b-aa30-e72ae8ec6127",
      "name": "Commit date & file name1",
      "type": "n8n-nodes-base.set",
      "position": [
        880,
        880
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: item.json,\n  pairedItem: item.pairedItem\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        880
      ],
      "id": "1d24e30c-ef60-4f73-a902-62b721e97346",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 348,
        "color": 5
      },
      "id": "e71f36fa-d04d-46e1-8783-bc5b3d78ba3f",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 1032,
        "color": 3
      },
      "id": "e48e7c9f-f3d9-4948-8453-7aec906aff6c",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "e56ae3d9-eff5-4f2f-b9e0-5b37ff45947f",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        736
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "https://github.com/merin-D/n8n_backup"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        528
      ],
      "typeVersion": 1,
      "id": "5eca94e1-9952-4e1c-8b46-4bb835d41037",
      "name": "Sticky Note11"
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Safety Check": {
      "main": [
        [
          {
            "node": "Find files to delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find files to delete": {
      "main": [
        [
          {
            "node": "Has files to delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has files to delete?": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "List files from repo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Safety Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Retrieve workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists1": {
      "main": [
        [
          {
            "node": "Update file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file1": {
      "main": [
        [
          {
            "node": "To base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base": {
      "main": [
        [
          {
            "node": "Commit date & file name1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name1": {
      "main": [
        [
          {
            "node": "Check if file exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Json file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2e2d6a11-1f62-4e91-bcd0-e5e4e3425d04",
  "activeVersionId": "2e2d6a11-1f62-4e91-bcd0-e5e4e3425d04",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-07T09:31:09.216Z",
      "createdAt": "2026-04-07T09:31:09.216Z",
      "role": "workflow:owner",
      "workflowId": "oO0fMXDkxvNT0nDP",
      "projectId": "6A4ZRN1cCrGEOl69"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-07T10:07:22.000Z",
    "createdAt": "2026-04-07T10:07:18.754Z",
    "versionId": "2e2d6a11-1f62-4e91-bcd0-e5e4e3425d04",
    "workflowId": "oO0fMXDkxvNT0nDP",
    "nodes": [
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "12fa8554-9477-4468-9e34-f5adbff06b23",
        "name": "Retrieve workflows",
        "type": "n8n-nodes-base.n8n",
        "position": [
          0,
          16
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "m2d0HT9UuFtzGfuP",
            "name": "n8n account 3"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "name"
              }
            ]
          },
          "options": {}
        },
        "id": "1a03f729-84a4-4683-8603-cc86fa4476e0",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          -240,
          16
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "merin-D",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_backup",
            "mode": "list",
            "cachedResultName": "n8n_backup",
            "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
          },
          "filePath": "="
        },
        "id": "81605ea0-bd1e-41bf-be8c-83cdb6fb0bb2",
        "name": "List files from repo",
        "type": "n8n-nodes-base.github",
        "position": [
          -400,
          16
        ],
        "webhookId": "29579f80-d12d-463e-aa2b-4013b11cd064",
        "typeVersion": 1,
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "Uq5YyACHjNGYTcJj",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "merin-D",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_backup",
            "mode": "list",
            "cachedResultName": "n8n_backup",
            "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
          },
          "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
          "fileContent": "={{ $('To base64').item.json.data }}",
          "commitMessage": "=Sync-{{ $('Commit date & file name').item.json.commitDate }}"
        },
        "id": "49d5c74e-e54d-4c5f-a485-2f254dbd27f6",
        "name": "Update file",
        "type": "n8n-nodes-base.github",
        "position": [
          1344,
          -64
        ],
        "webhookId": "27615548-5dd2-4eba-8d86-f548dc53a1fc",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "Uq5YyACHjNGYTcJj",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "merin-D",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_backup",
            "mode": "list",
            "cachedResultName": "n8n_backup",
            "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
          },
          "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
          "fileContent": "={{ $('To base64').item.json.data }}",
          "commitMessage": "=Sync-{{ $node['Commit date & file name'].json.commitDate }}"
        },
        "id": "2399ead3-1283-4c57-9768-f2d03e2384c0",
        "name": "Upload file",
        "type": "n8n-nodes-base.github",
        "position": [
          1344,
          96
        ],
        "webhookId": "a1fb1aa4-c3a8-4d53-9398-5718cc2a28dc",
        "typeVersion": 1,
        "credentials": {
          "githubApi": {
            "id": "Uq5YyACHjNGYTcJj",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $('Aggregate').item.json.name }}",
                "operation": "contains",
                "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
              }
            ]
          }
        },
        "id": "7680671b-63af-4f23-b76a-dfe65ce64fa0",
        "name": "Check if file exists",
        "type": "n8n-nodes-base.if",
        "position": [
          1184,
          16
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true
          }
        },
        "id": "ed73ca00-cc2a-49d6-b240-32b5c2e8bebb",
        "name": "Json file",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          368,
          16
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "id": "e902f5df-619b-414a-be1d-33ba63107617",
        "name": "To base64",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          608,
          16
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Retrieve previous file names from Github",
          "height": 380,
          "width": 348,
          "color": 5
        },
        "id": "0b02a0d2-607b-40ba-92ba-bed33ec4ca17",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -448,
          -128
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
                "name": "commitDate",
                "type": "string",
                "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
              },
              {
                "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                "name": "fileName",
                "type": "string",
                "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
              }
            ]
          },
          "options": {}
        },
        "id": "e8e3fe47-550b-4f66-9dd5-a3daac4cf3cf",
        "name": "Commit date & file name",
        "type": "n8n-nodes-base.set",
        "position": [
          1024,
          16
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "### Retrieve and process workflows from n8n",
          "height": 380,
          "width": 1032,
          "color": 3
        },
        "id": "1f919bc1-f433-4617-b920-571686b2dc66",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -80,
          -128
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Commit + edit/create files if needed",
          "height": 380,
          "width": 460,
          "color": 4
        },
        "id": "5e30c0e7-ef38-43a5-816f-2d02ff207e6c",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          992,
          -128
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Dif - commit message with AI",
          "height": 176,
          "width": 416
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1312,
          464
        ],
        "typeVersion": 1,
        "id": "c6e942ac-bb38-4031-ba33-08212f239508",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "## Points for the article\n\nNo  n8n limitation of 1 day hostory, Git will maintain unlimited versions\n\nProper comment based on the change will help to get back to the correct change. (AI used)\n\nPeriodic Backup or Where there is a change in the workflow\n\n\n\n## Backup to SFTp and FTP\n\n## Backup to Drive\n",
          "height": 624,
          "width": 464
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1328,
          704
        ],
        "typeVersion": 1,
        "id": "3a043945-5af3-4cc9-b2fd-0c6d89c1e3de",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": {
            "__rl": true,
            "value": "merin-D",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_backup",
            "mode": "list",
            "cachedResultName": "n8n_backup",
            "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
          },
          "filePath": "=",
          "commitMessage": "="
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1344,
          -256
        ],
        "id": "01c32b52-5dea-451c-8f90-735403b6cf7a",
        "name": "Delete a file1",
        "webhookId": "8aded0b9-dd1e-4c35-a269-46ff104c7f77",
        "credentials": {
          "githubApi": {
            "id": "Uq5YyACHjNGYTcJj",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return $input.all().map(item => ({\n  json: item.json,\n  pairedItem: item.pairedItem\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          16
        ],
        "id": "5eaf851d-73f0-4e56-8aa7-2ced01c03960",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{ $input.all().length }}",
                "operation": "larger"
              }
            ]
          }
        },
        "id": "dca77bca-f97b-4f14-adf3-06e0ffbf9d4a",
        "name": "Safety Check",
        "type": "n8n-nodes-base.if",
        "position": [
          48,
          1344
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "jsCode": "// Get GitHub file names from List files from repo\nconst githubFiles = $('List files from repo').all().map(i => i.json.name).filter(Boolean);\n\n// Get n8n workflow names directly from Retrieve workflows node\nconst n8nWorkflows = $('Retrieve workflows').all().map(i => i.json.name + '.json');\n\n// Safety abort if either list is empty\nif (githubFiles.length === 0) {\n  throw new Error('Safety abort: GitHub file list is empty.');\n}\nif (n8nWorkflows.length === 0) {\n  throw new Error('Safety abort: n8n workflow list is empty. Refusing to delete anything.');\n}\n\n// Only delete files that don't exist in n8n anymore\nconst filesToDelete = githubFiles.filter(f => !n8nWorkflows.includes(f));\n\nif (filesToDelete.length === 0) {\n  return [{ json: { skipped: true, reason: 'Nothing to delete' } }];\n}\n\nreturn filesToDelete.map(f => ({ json: { path: f, skipped: false } }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          288,
          1344
        ],
        "id": "bb6610e8-c76c-40f5-af77-75a263c39ffd",
        "name": "Find files to delete"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.skipped }}"
              }
            ]
          }
        },
        "id": "be7aac2c-f417-4931-8b30-42eacb1dbf4c",
        "name": "Has files to delete?",
        "type": "n8n-nodes-base.if",
        "position": [
          528,
          1344
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": {
            "__rl": true,
            "value": "merin-D",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_backup",
            "mode": "list",
            "cachedResultName": "n8n_backup",
            "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
          },
          "filePath": "={{ $json.path }}",
          "commitMessage": "Auto delete removed workflow: {{ $json.path }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          768,
          1328
        ],
        "id": "0ed0d83f-ff68-4e6f-baa4-caebf401dda1",
        "name": "Delete a file",
        "webhookId": "4c9b3fa2-1af8-4243-85eb-83aa9d7b4ffe",
        "credentials": {
          "githubApi": {
            "id": "Uq5YyACHjNGYTcJj",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "content": "### Safe Delete Branch\n\n✅ Only deletes if n8n returned >0 workflows\n✅ Aborts if either list is empty\n✅ Skips if nothing to delete",
          "height": 200,
          "width": 780,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          16,
          1216
        ],
        "typeVersion": 1,
        "id": "715ed32b-aad4-4711-9397-c26f77a07322",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "id": "3b5a16fd-ae29-4a4a-9bf2-572d4806cf00",
        "name": "Schedule Trigger1",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          -768,
          880
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "1cc93a75-78ed-4a67-bf28-1a0bae88c4c8",
        "name": "Retrieve workflows1",
        "type": "n8n-nodes-base.n8n",
        "position": [
          -144,
          880
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "m2d0HT9UuFtzGfuP",
            "name": "n8n account 3"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "name"
              }
            ]
          },
          "options": {}
        },
        "id": "05c30b02-d2aa-4e07-984f-33cc3b9d6e17",
        "name": "Aggregate1",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          -384,
          880
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "merin-D",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_backup",
            "mode": "list",
            "cachedResultName": "n8n_backup",
            "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
          },
          "filePath": "="
        },
        "id": "e69a2eec-49af-4562-8ae3-8a9104bdd225",
        "name": "List files from repo1",
        "type": "n8n-nodes-base.github",
        "position": [
          -544,
          880
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "webhookId": "6c5a413f-1a30-4ca9-8174-46e02f3ecf22",
        "credentials": {
          "githubApi": {
            "id": "Uq5YyACHjNGYTcJj",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "merin-D",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_backup",
            "mode": "list",
            "cachedResultName": "n8n_backup",
            "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
          },
          "filePath": "={{ $('Retrieve workflows1').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows1').item.json.tags[0].name }}.json",
          "fileContent": "={{ $('To base').item.json.data }}",
          "commitMessage": "=Sync-{{ $('Commit date & file name1').item.json.commitDate }}"
        },
        "id": "db110462-d602-4036-af7a-a9cf6d7c35af",
        "name": "Update file1",
        "type": "n8n-nodes-base.github",
        "position": [
          1200,
          800
        ],
        "typeVersion": 1,
        "webhookId": "b877ef15-f96f-457b-8cac-5107a6b0f40f",
        "credentials": {
          "githubApi": {
            "id": "Uq5YyACHjNGYTcJj",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "merin-D",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_backup",
            "mode": "list",
            "cachedResultName": "n8n_backup",
            "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
          },
          "filePath": "={{ $('Retrieve workflows1').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows1').item.json.tags[0].name }}.json",
          "fileContent": "={{ $('To base').item.json.data }}",
          "commitMessage": "=Sync-{{ $node['Commit date & file name1'].json.commitDate }}"
        },
        "id": "51841064-a7ff-4945-a52f-cba1cccff69a",
        "name": "Upload file1",
        "type": "n8n-nodes-base.github",
        "position": [
          1200,
          960
        ],
        "typeVersion": 1,
        "webhookId": "207cadf0-dfdd-41d3-be32-806b7dfac41c",
        "credentials": {
          "githubApi": {
            "id": "Uq5YyACHjNGYTcJj",
            "name": "GitHub account 3"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $('Aggregate1').item.json.name }}",
                "operation": "contains",
                "value2": "={{ $('Retrieve workflows1').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows1').item.json.tags[0].name }}.json"
              }
            ]
          }
        },
        "id": "4a94e6ec-3e48-4bca-948c-5ebf80888433",
        "name": "Check if file exists1",
        "type": "n8n-nodes-base.if",
        "position": [
          1040,
          880
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "operation": "toJson",
          "mode": "each",
          "options": {
            "format": true
          }
        },
        "id": "266be3bd-a377-44fa-a021-431640a519e7",
        "name": "Json file1",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          224,
          880
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "id": "f89d6a01-1b66-4010-bdd9-09d2c3de9b06",
        "name": "To base",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          464,
          880
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
                "name": "commitDate",
                "type": "string",
                "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
              },
              {
                "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
                "name": "fileName",
                "type": "string",
                "value": "={{ $('Retrieve workflows1').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows1').item.json.tags[0].name }}.json"
              }
            ]
          },
          "options": {}
        },
        "id": "9c7ab03c-695c-4b5b-aa30-e72ae8ec6127",
        "name": "Commit date & file name1",
        "type": "n8n-nodes-base.set",
        "position": [
          880,
          880
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "jsCode": "return $input.all().map(item => ({\n  json: item.json,\n  pairedItem: item.pairedItem\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          64,
          880
        ],
        "id": "1d24e30c-ef60-4f73-a902-62b721e97346",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "content": "### Retrieve previous file names from Github",
          "height": 380,
          "width": 348,
          "color": 5
        },
        "id": "e71f36fa-d04d-46e1-8783-bc5b3d78ba3f",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -592,
          736
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Retrieve and process workflows from n8n",
          "height": 380,
          "width": 1032,
          "color": 3
        },
        "id": "e48e7c9f-f3d9-4948-8453-7aec906aff6c",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -224,
          736
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "### Commit + edit/create files if needed",
          "height": 380,
          "width": 460,
          "color": 4
        },
        "id": "e56ae3d9-eff5-4f2f-b9e0-5b37ff45947f",
        "name": "Sticky Note10",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          848,
          736
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "https://github.com/merin-D/n8n_backup"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -176,
          528
        ],
        "typeVersion": 1,
        "id": "5eca94e1-9952-4e1c-8b46-4bb835d41037",
        "name": "Sticky Note11"
      }
    ],
    "connections": {
      "Aggregate": {
        "main": [
          [
            {
              "node": "Retrieve workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Json file": {
        "main": [
          [
            {
              "node": "To base64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To base64": {
        "main": [
          [
            {
              "node": "Commit date & file name",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve workflows": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if file exists": {
        "main": [
          [
            {
              "node": "Update file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files from repo": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit date & file name": {
        "main": [
          [
            {
              "node": "Check if file exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Json file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Safety Check": {
        "main": [
          [
            {
              "node": "Find files to delete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find files to delete": {
        "main": [
          [
            {
              "node": "Has files to delete?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has files to delete?": {
        "main": [
          [
            {
              "node": "Delete a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger1": {
        "main": [
          [
            {
              "node": "List files from repo1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve workflows1": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            },
            {
              "node": "Safety Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate1": {
        "main": [
          [
            {
              "node": "Retrieve workflows1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files from repo1": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if file exists1": {
        "main": [
          [
            {
              "node": "Update file1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upload file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Json file1": {
        "main": [
          [
            {
              "node": "To base",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To base": {
        "main": [
          [
            {
              "node": "Commit date & file name1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Commit date & file name1": {
        "main": [
          [
            {
              "node": "Check if file exists1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Json file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "merin dzousamerin@gmail.com",
    "name": "Version 2e2d6a11",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-03-26T11:11:42.300Z",
      "createdAt": "2026-03-26T11:11:42.300Z",
      "id": "MafV0QzOGcn2AUtk",
      "name": "Ucartz"
    }
  ]
}