backup-to-google-drive-.json
{
  "updatedAt": "2026-04-04T07:36:24.491Z",
  "createdAt": "2026-04-04T04:55:21.995Z",
  "id": "l6IcSRuCW2I8643u",
  "name": "backup to google drive",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        -32
      ],
      "id": "4714cf5f-58ba-4f98-ba70-a52da536b529",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -336,
        -32
      ],
      "id": "3e9fd23f-9e83-4bb7-8a6c-cf17fc08b83f",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "m2d0HT9UuFtzGfuP",
          "name": "n8n account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        96,
        144
      ],
      "id": "8c729584-65ee-4c39-9029-542ac0f11971",
      "name": "Loop Over Items",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const workflows = $input.all(0).map(i => i.json);\n\nreturn workflows.map(w => {\n  const safeName = w.name.replace(/[\\/\\\\:*?\"<>|]/g, '');\n  const fileName = safeName + '.json';\n\n  const content = JSON.stringify(w, null, 2);\n\n  return {\n    json: {\n      fileName: fileName\n    },\n    binary: {\n      data: {\n        data: Buffer.from(content).toString('base64'),\n        mimeType: 'application/json',\n        fileName: fileName\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -32
      ],
      "id": "8144d9e3-8edf-45f6-aee2-ef274e2f83cc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "name": "={{$json.fileName}}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)",
          "cachedResultUrl": "https://drive.google.com/drive"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        304,
        -32
      ],
      "id": "2e989083-497c-4e20-91d9-49224b3d3ec9",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LYH3sbAXBSWwu4KH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "mimeType = 'application/json'",
        "returnAll": true,
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        -32
      ],
      "id": "22767d83-47ce-4979-ac2a-fb69acf16c18",
      "name": "Search files and folders",
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LYH3sbAXBSWwu4KH",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6a87f9de-4ca1-49db-ac26-a372d80e4279",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-04T04:55:21.999Z",
      "createdAt": "2026-04-04T04:55:21.999Z",
      "role": "workflow:owner",
      "workflowId": "l6IcSRuCW2I8643u",
      "projectId": "6A4ZRN1cCrGEOl69"
    }
  ],
  "activeVersion": null,
  "tags": []
}