n8n-workflows-→-github-backup-(auto-sync).json
{
  "updatedAt": "2026-04-07T22:24:07.687Z",
  "createdAt": "2026-04-07T12:01:26.402Z",
  "id": "31KRPNmyQMZIp6VO",
  "name": "n8n Workflows → GitHub Backup (Auto-Sync)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "# 🗂️ n8n → GitHub sync Workflow versioning\n\n## What this does\nAutomatically backs up all your n8n workflows as JSON files to a GitHub repository on a schedule.\n\n## Features\n- ✅ Creates new files for new workflows\n- ✅ Updates existing files when workflows change\n- ✅ Deletes files for workflows that were renamed or removed\n- ✅ Skips unchanged workflows (size-based diff check)\n- ✅ Timestamped commit messages\n\n## Setup (one-time)\n1. **GitHub credential** — create a Personal Access Token with `repo` scope and add it as a GitHub credential in n8n\n2. **n8n API credential** — generate an n8n API key under *Settings → API* and add it as an n8n credential\n3. **GitHub repo** — create an empty repository on GitHub (e.g. `your-username/n8n-backup`)\n4. Update all GitHub nodes: set your **owner** (GitHub username) and **repository** name\n5. Adjust the **Schedule Trigger** to your preferred backup interval (default: every hour)\n\n## Notes\n- Workflow files are named using the workflow name, lowercased and hyphenated (e.g. `my-workflow.json`)\n- The repo at the top of the canvas links to a working example",
        "height": 700,
        "width": 820,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        1104
      ],
      "typeVersion": 1,
      "id": "2048b09a-260d-42cd-b5b6-5848f3065788",
      "name": "README"
    },
    {
      "parameters": {
        "content": "🔗 Example repo: https://github.com/merin-D/n8n_backup",
        "width": 604
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        816
      ],
      "typeVersion": 1,
      "id": "e48804df-e8c5-4607-9235-284709903ab8",
      "name": "Example Repo Link"
    },
    {
      "parameters": {
        "content": "### 📥 Step 1 — Fetch current GitHub repo contents\nLists all files already in the GitHub backup repository.\nThis is used later to:\n- Detect which workflows are new vs existing\n- Identify files to delete (renamed/removed workflows)",
        "height": 268,
        "width": 532,
        "color": "#FFFFFF"
      },
      "id": "9f9ad33e-c8fd-4cce-9fa9-3a50d7e89b29",
      "name": "Sticky Note — Fetch GitHub Files",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### ⚙️ Step 2 — Fetch & filter n8n workflows\nRetrieves all workflows from this n8n instance via API.\n\nThe **Filter Changed Files** node compares each workflow's byte size against the file size stored on GitHub. Only workflows that are **new or modified** pass through — skipping unchanged ones avoids unnecessary GitHub commits.",
        "height": 268,
        "width": 820,
        "color": "#FFFFFF"
      },
      "id": "eacbafe7-43f0-42ec-bdcd-9a863cdb30c7",
      "name": "Sticky Note — Fetch & Filter Workflows",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        1088
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 💾 Step 3 — Commit files to GitHub\nFor each changed workflow:\n1. Build the target filename and commit timestamp\n2. Check if the file already exists in the repo\n3. **Update** it (edit) if it exists, or **Create** it (upload) if it's new\n\nFiles are named: `workflow-name.json` (lowercase, hyphenated)",
        "height": 300,
        "width": 700,
        "color": "#F2F2F2"
      },
      "id": "85b82ade-8598-45d2-a7e0-ced7fb165527",
      "name": "Sticky Note — Commit to GitHub",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        1472
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 🗑️ Step 4 — Clean up deleted/renamed workflows\nAfter committing, compare:\n- **GitHub files** (what's in the repo)\n- **n8n workflows** (what currently exists)\n\nAny GitHub file with **no matching n8n workflow** means the workflow was renamed or deleted — those files are removed from the repo automatically.\n\n⚠️ Safety: if n8n returns 0 workflows (e.g. API error), the deletion step is aborted to prevent wiping the entire repo.",
        "height": 304,
        "width": 824,
        "color": "#FFFFFF"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        1472
      ],
      "typeVersion": 1,
      "id": "39d4e194-b7c1-4598-ada4-cf37d8739509",
      "name": "Sticky Note — Cleanup Deleted Workflows"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "402bcfba-fb37-41d1-862d-72a2633c7992",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        272,
        1264
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "="
      },
      "id": "6f319899-5007-4c08-926c-fb948e2d1600",
      "name": "List Files in GitHub Repo",
      "type": "n8n-nodes-base.github",
      "position": [
        544,
        1264
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "6c5a413f-1a30-4ca9-8174-46e02f3ecf22",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "149ce3df-686a-427e-b6f5-51b540db0d88",
      "name": "Collect GitHub Filenames",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        720,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "fb0e9a96-84fc-43f2-b1e4-2b2946dfecb3",
      "name": "Fetch All n8n Workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1104,
        1264
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "m2d0HT9UuFtzGfuP",
          "name": "n8n account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Compare each workflow's current size with its GitHub file size.\n// Only workflows that are NEW or have CHANGED content pass through.\n// This avoids creating unnecessary commits for unmodified workflows.\n\nconst githubFileMap = {};\n$('List Files in GitHub Repo').all().forEach(i => {\n  if (i.json.name) {\n    githubFileMap[i.json.name] = i.json.size;\n  }\n});\n\nconst results = $input.all().map(item => {\n  const workflowJson = JSON.stringify(item.json, null, 2);\n  const fileName = item.json.name.replace(/\\s+/g, '-').toLowerCase() + '.json';\n\n  const currentSize = Buffer.byteLength(workflowJson, 'utf8');\n  const githubSize = githubFileMap[fileName];\n\n  const isNew = githubSize === undefined;\n  const changed = isNew || currentSize !== githubSize;\n\n  return {\n    json: {\n      ...item.json,\n      _fileName: fileName,\n      _currentSize: currentSize,\n      _githubSize: githubSize ?? null,\n      _changed: changed,\n      _isNew: isNew\n    },\n    pairedItem: item.pairedItem\n  };\n});\n\n// Only return workflows that need to be committed\nreturn results.filter(r => r.json._changed || r.json._isNew);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        1264
      ],
      "id": "0078cdf4-092d-45be-ba2a-b58c67948941",
      "name": "Filter Changed/New Workflows"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "c0ccceb3-807e-4f95-a55a-21294d1af105",
      "name": "Convert Workflow to JSON File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        1472,
        1264
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "c028c372-7599-409f-b32b-c41dfd81d8ca",
      "name": "Encode as Base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1664,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Fetch All n8n Workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "f5e69083-0dbf-46a1-877e-5c030e9dd75d",
      "name": "Build Filename & Commit Date",
      "type": "n8n-nodes-base.set",
      "position": [
        304,
        1680
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Collect GitHub Filenames').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Fetch All n8n Workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json"
            }
          ]
        }
      },
      "id": "930f04fd-1707-475e-881a-a6fc1c1485cb",
      "name": "File Already Exists in Repo?",
      "type": "n8n-nodes-base.if",
      "position": [
        480,
        1680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "={{ $('Fetch All n8n Workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
        "fileContent": "={{ $('Encode as Base64').item.json.data }}",
        "commitMessage": "=Sync-{{ $('Build Filename & Commit Date').item.json.commitDate }}"
      },
      "id": "d70e8cd5-e429-4238-9917-1c80d4f1f20f",
      "name": "Update Existing File",
      "type": "n8n-nodes-base.github",
      "position": [
        880,
        1680
      ],
      "typeVersion": 1,
      "webhookId": "b877ef15-f96f-457b-8cac-5107a6b0f40f",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "={{ $('Fetch All n8n Workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}.json",
        "fileContent": "={{ $('Encode as Base64').item.json.data }}",
        "commitMessage": "=Sync-{{ $('Build Filename & Commit Date').item.json.commitDate }}"
      },
      "id": "1c456abc-750e-4892-b025-2cfdfdcbe77b",
      "name": "Create New File",
      "type": "n8n-nodes-base.github",
      "position": [
        688,
        1680
      ],
      "typeVersion": 1,
      "webhookId": "207cadf0-dfdd-41d3-be32-806b7dfac41c",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Find GitHub files that no longer have a matching n8n workflow.\n// These are workflows that were renamed or deleted in n8n.\n// Safety: if n8n returned 0 workflows, abort to avoid mass deletion.\n\nconst githubFiles = $('List Files in GitHub Repo').all()\n  .map(i => i.json.name)\n  .filter(Boolean);\n\nconst n8nWorkflowFiles = $('Fetch All n8n Workflows').all().map(i => {\n  return i.json.name.replace(/\\s+/g, '-').toLowerCase() + '.json';\n});\n\nif (n8nWorkflowFiles.length === 0) {\n  throw new Error('Safety abort: n8n returned 0 workflows. Refusing to delete any GitHub files.');\n}\n\nif (githubFiles.length === 0) {\n  return [{ json: { skipped: true, reason: 'GitHub repo is empty — nothing to delete.' } }];\n}\n\nconst filesToDelete = githubFiles.filter(f => !n8nWorkflowFiles.includes(f));\n\nif (filesToDelete.length === 0) {\n  return [{ json: { skipped: true, reason: 'All GitHub files match existing workflows. Nothing to delete.' } }];\n}\n\nreturn filesToDelete.map(f => ({ json: { path: f, skipped: false } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        1680
      ],
      "id": "67e962f0-e8ec-4c13-be19-e063d4cd756d",
      "name": "Find Orphaned Files to Delete"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skipped }}"
            }
          ]
        }
      },
      "id": "cd2aaf3d-5af3-4732-8a95-7d9844871ef2",
      "name": "Any Files to Delete?",
      "type": "n8n-nodes-base.if",
      "position": [
        1360,
        1680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "merin-D",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/merin-D/n8n_backup"
        },
        "filePath": "={{ $json.path }}",
        "commitMessage": "=chore: remove deleted workflow {{ $json.path }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1632,
        1680
      ],
      "id": "b9a2a6fd-2e83-4bc0-b5c4-bd4ee7713319",
      "name": "Delete Orphaned File",
      "webhookId": "4c9b3fa2-1af8-4243-85eb-83aa9d7b4ffe",
      "credentials": {
        "githubApi": {
          "id": "Uq5YyACHjNGYTcJj",
          "name": "GitHub account 3"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List Files in GitHub Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Files in GitHub Repo": {
      "main": [
        [
          {
            "node": "Collect GitHub Filenames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect GitHub Filenames": {
      "main": [
        [
          {
            "node": "Fetch All n8n Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All n8n Workflows": {
      "main": [
        [
          {
            "node": "Filter Changed/New Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Changed/New Workflows": {
      "main": [
        [
          {
            "node": "Convert Workflow to JSON File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Workflow to JSON File": {
      "main": [
        [
          {
            "node": "Encode as Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode as Base64": {
      "main": [
        [
          {
            "node": "Build Filename & Commit Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Filename & Commit Date": {
      "main": [
        [
          {
            "node": "File Already Exists in Repo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Already Exists in Repo?": {
      "main": [
        [
          {
            "node": "Update Existing File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing File": {
      "main": [
        [
          {
            "node": "Find Orphaned Files to Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Orphaned Files to Delete": {
      "main": [
        [
          {
            "node": "Any Files to Delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Files to Delete?": {
      "main": [
        [
          {
            "node": "Delete Orphaned File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "245b840b-5e42-4546-9e5f-193251aead73",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-07T12:01:26.406Z",
      "createdAt": "2026-04-07T12:01:26.406Z",
      "role": "workflow:owner",
      "workflowId": "31KRPNmyQMZIp6VO",
      "projectId": "6A4ZRN1cCrGEOl69"
    }
  ],
  "activeVersion": null,
  "tags": [],
  "_fileName": "n8n-workflows-→-github-backup-(auto-sync).json",
  "_currentSize": 18586,
  "_githubSize": 18730,
  "_changed": true,
  "_isNew": false
}