test-workflow-2-.json
{
  "updatedAt": "2026-03-24T02:19:41.306Z",
  "createdAt": "2026-03-24T01:26:01.809Z",
  "id": "DZFlNL3gE77cNPYM",
  "name": "test workflow 2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6badccd8-a06f-473a-bd3e-54ff82c86d78",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { server: \"http://5.83.144.4\" } },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "efa4f029-6668-422d-aabb-188626b152ee",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{ $json.server }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "21c0bf4e-1d04-4e1f-849d-9374456e6128",
      "name": "HTTP Request"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5f720848-8416-49b3-a95b-59bd570c6ee5",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-24T01:26:01.811Z",
      "createdAt": "2026-03-24T01:26:01.811Z",
      "role": "workflow:owner",
      "workflowId": "DZFlNL3gE77cNPYM",
      "projectId": "6A4ZRN1cCrGEOl69"
    }
  ],
  "activeVersion": null,
  "tags": []
}